# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.dSYM
*.swp
vec3_tests
chap01
chap02
chap03
chap04
chap05
chap05plus
chap06
*.ppm

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
.DS_Store

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app
